<mat-card class="markdown-table">
  <markdown [data]="questionObj.question"></markdown>
  <mat-divider></mat-divider>
  <div *ngFor="let option of questionObj.options">
    <mat-checkbox
      [(ngModel)]="option.selected"
      (change)="checkSelection(option)"
    >
      <markdown [data]="option.text"></markdown>
    </mat-checkbox>
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="submitAnswers()"
    [disabled]="!isAnyOptionSelected()"
  >
    Check answer
  </button>
</mat-card>
